body {
    background-color: teal;
    width: 100%;
    margin-top: 40px;

}

.lead {
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: orange;
    color: white;
    padding: 10px;
}

header {
    background-color: orange;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.form-select {
    width: 30%;
}
